body {
    background-color: #f8f9fd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}