.test{
    display:none;
}

.caption{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.container-top-white-navbar{
    display: flex;
    justify-content: space-evenly;
    width: 1419px;

}
.insta{
    padding-top: 5px;
    text-align: center;
}

.news{
    width: 375px;
    /* background-color: aqua; */
}
.searchBox{
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    padding-top: 5px;
}
.top-container{
    background-color: rgb(0, 0, 0);
    height: 150px;
    display: flex;
    justify-content: center;
}

.top-grid-container{
    display: inline-grid;
    grid-template-columns: repeat(7, auto );
    list-style-type: none;
    gap: 50px;   
}

.top-navbar{
    display:inline-flex;
    /* background-color: aqua; */

}

.top-grid-container > li{
    color: grey;
    font-weight: bold;
    font-size: 25px;
}

.top-navbar-item2{
    align-self: flex-end;
}

.main-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}